---
import Layout from "../layouts/Layout.astro"
---

<Layout title="David Pérez - Desarrollador Web Full-stack">
	<main class="min-h-screen">
		<section
			class="bg-black text-white lg:mx-auto max-w-4xl mt-44 py-16 px-8 sm:px-16 text-center shadow-md rounded-sm relative after:absolute after:inset-0 after:bg-red-500 after:-z-10 after:translate-x-3 after:translate-y-3 a before:absolute before:inset-0 before:bg-cyan-500 before:-z-10 before:-translate-x-3 before:-translate-y-3 mx-8 sm:mx-16 md:mx-10"
		>
			<h1 class="font-bold text-3xl sm:text-4xl md:text-5xl">¡Hagamos negocios!</h1>
			<p class="text-sm sm:text-lg text-zinc-100 mt-10 mb-16">
				Envíame una solicitud por este formulario o contáctame por el
				correo a <span class="text-red-400"
					>dadastudios382@gmail.com</span
				>
			</p>
			<form>
				<div class="max-w-xs mx-auto flex flex-col items-center justify-center">
					<input
						class="w-full bg-transparent md:text-lg font-medium border-b-2 border-red-500 mb-6 p-4 placeholder:text-zinc-100/90 placeholder:font-medium transition-transform focus:scale-105 focus:outline-none"
						type="text"
						placeholder="Nombre"
					/>
					<input
						class="w-full bg-transparent md:text-lg font-medium border-b-2 border-red-500 mb-6 p-4 placeholder:text-zinc-100/90 placeholder:font-medium transition-transform focus:scale-105 focus:outline-none"
						type="email"
						placeholder="Email"
					/>
					<textarea
						class="bg-transparent w-full md:text-lg font-medium border-b-2 border-red-500 mb-6 p-4 placeholder:text-zinc-100/90 placeholder:font-medium transition-transform focus:scale-105 focus:outline-none" placeholder="Mensaje"
					></textarea>
                    <button class="mt-6 py-4 px-7 md:text-lg font-medium bg-white text-black rounded-sm transition-all border-2 border-transparent hover:border-white hover:bg-transparent hover:text-white" type="submit">Enviar</button>
				</div>
			</form>
		</section>
	</main>
</Layout>
