---
import Layout from "../layouts/Layout.astro"
import Card from "../components/Card.astro"
import Abilities from "../components/Abilities.astro"
import PlanFuture from "../components/PlanFuture.astro"
---

<Layout title="David Pérez - Desarrollador Web Full-stack">
	<main class="min-h-screen">
		<!-- PROFILE (MAIN SECTION) -->
		<section class="text-center mt-36 max-w-5xl mx-auto">
			<h1
				class="font-bold text-2xl sm:text-4xl max-md:px-8 md:text-5xl text-zinc-800"
			>
				¡Hola! Me llamo David,-desarrollador Web full-stack
			</h1>
			<p class="text-lg sm:text-xl px-4 mt-8 mb-14 text-zinc-700">
				Amo principalmente el Front-end y lo complemento con mis
				hermosos diseños.
			</p>
			<img
				class="w-36 md:w-56 rounded-full overflow-hidden shadow-xl mx-auto"
				src="/images/logo-colors-shadow.png"
				alt="Mi rostro"
			/>
			<!-- <img class="mx-auto block" src="/images/computer.png" alt="Computador"> -->
		</section>
		<!-- ABILITIES & TECHNOLOGIES -->
		<section class="relative mt-24">
			<span
				class="absolute block left-0 right-0 top-1/2 bottom-1/2 -translate-y-1/2 h-4 -z-10 shadow-xl shadow-cyan-100 ring-1 ring-cyan-700/10 bg-cyan-300"
			></span>
			<div
				class="mx-auto max-w-5xl flex max-[500px]:flex-col max-[500px]:-mb-16 items-center justify-center"
			>
				<div
					class="relative w-3/5 flex items-center justify-center"
					id="profile-content"
				>
					<span
						class="bg-cyan-300/70 rounded-sm shadow-2xl shadow-cyan-100 inset-0 -translate-x-3 -translate-y-3 absolute -z-10"
					></span>
					<div
						class="text-center p-10 pr-10 bg-red-500 ring-1 ring-red-300 shadow-2xl shadow-red-100 rounded-sm relative overflow-y-scroll max-h-[350px]"
					>
						<h1
							class="font-bold text-xl sm:text-3xl mb-6 tracking-tight text-white"
						>
							Perfil profesional
						</h1>
						<p
							class="font-medium text-sm sm:text-base text-red-50 leading-7 tracking-tight"
						>
							Actualmente soy estudiante de ingeniería
							electrónica, y he sobresalido frente a los demás por
							mi compromiso e inquietud por aprender. Con mis 3
							años en el desarrollo, constantemente estoy buscando
							formas de mejorar mis habilidades y complementar mis
							conocimientos previos con los nuevos. Busco combinar
							mis habilidades de software con el hardware, para
							ser capaz de entender sistemas complejos que usen
							estos conocimientos.
						</p>
					</div>
				</div>
				<Abilities
					skills={[
						{
							name: "Back-end",
							target: [
								"Express.js",
								"REST",
								"GraphQL",
								"MongoDB",
								"MySQL",
								"Flask",
								"Passport",
								"JWT",
								"Handlebars",
								"Ejs",
								"Auth0",
							],
						},
						{
							name: "Front-end",
							target: [
								"React",
								"Vanilla JS",
								"Astro",
								"Bootstrap",
								"Tailwind",
								"Bulma",
								"Fetching",
								"Formik",
								"SASS",
							],
						},
						{
							name: "Sistemas",
							target: [
								"C++",
								"Nodejs",
								"Arduino",
								"Java",
								"Linux",
								"Docker",
								"Git",
								"SQLite",
							],
						},
						{
							name: "Extras",
							target: [
								"Typescript",
								"Agile",
								"Pyfirmata",
								"Serial",
								"Manim",
								"QT Python",
								"Markdown",
							],
						},
					]}
				/>
			</div>
		</section>
		<!-- PROJECTS -->
		<section class="my-36" id="projects">
			<div
				class="bg-black pb-10 md:pb-24 pt-24 relative after:absolute after:inset-0 after:bg-red-500 after:-z-10 after:translate-y-3 a before:absolute before:inset-0 before:bg-cyan-500 before:-z-10 before:-translate-y-3"
			>
				<div class="text-center max-sm:mx-4">
					<h1 class="text-4xl md:text-5xl font-bold text-white">
						Mis mejores proyectos
					</h1>
					<p
						class="max-md:max-w-md text-base md:text-xl text-zinc-200 mt-10 mb-28 max-w-4xl mx-auto"
					>
						Aquí están los proyectos terminados más grandes que
						tengo. Si quieres ver más, ećhale un ojo a mi <a
							target="_blank"
							class="text-red-400 hover:underline"
							href="https://github.com/DaDasStudios"
							>repositorio de Github.</a
						>
					</p>
				</div>
			</div>
			<div
				class="grid grid-cols-1 max-sm:mx-4 sm:grid-cols-3 gap-10 sm:gap-6 mx-6 md:mx-auto max-w-5xl -mt-20 md:-mt-36"
			>
				<Card
					description="Limpieza de muebles con máquinas profesionales sin desgaste."
					image="/images/whouse.png"
					href="https://whouse.vercel.app"
					star={true}
				/>
				<Card
					description="Compartir tus libros favoritos con tus amigos o todo el mundo."
					image="/images/books-app.png"
					href="https://books-social-media.onrender.com"
					star={true}
				/>
				<Card
					description="Clon exacto visual de la página principal de Aliexpress"
					image="https://download.logo.wine/logo/AliExpress/AliExpress-Logo.wine.png"
					href="https://aliexpress-clone-typescript-react.vercel.app"
				/>
				<Card
					description="Página personal antigua orientada a mostrar proyectos."
					image="/images/dadas-old.png"
					href="https://dadastudios-old-website.onrender.com"
				/>

				<Card
					description="Aplicación con variedad de utilidades para la vida diaria."
					href="https://personal-management-app.onrender.com"
					image="/images/personal-management-app.png"
				/>
			</div>
		</section>
		<!-- FUTURE PLANS -->
		<section class="mx-10 xl:mx-auto max-w-7xl">
			<div class="text-center">
				<h1 class="text-4xl md:text-5xl font-bold text-zinc-800">
					Lo que tengo planeado
				</h1>
				<p
					class="text-lg md:text-xl text-zinc-700 mt-10 mb-28 w-3/4 mx-auto"
				>
					La lista de cosas que tengo planeado aprender a futuro, para
					enriquecerme de conocimiento como desarrollador.
				</p>
			</div>
			<div
				class="bg-black text-white grid max-sm:mx-3 max-md:mx-12 max-lg:mx-28 grid-cols-1 lg:grid-cols-3 gap-5 justify-around text-center shadow-md rounded-sm relative after:absolute after:inset-0 after:bg-red-500 after:-z-10 after:translate-x-3 after:translate-y-3 a before:absolute before:inset-0 before:bg-cyan-500 before:-z-10 before:-translate-x-3 before:-translate-y-3"
			>
				<PlanFuture
					title="Front-end"
					description="Tecnologías y frameworks de Javascript que tengo planeado aprender en un futuro cercano."
					subtitle="Herramientas"
					technologies={[
						"Angular",
						"Vue",
						"Svelte",
						"Hugo",
						"Flowbite",
						"Python Web",
					]}
				>
					<svg
						slot="icon"
						class="w-10 m-3"
						fill="none"
						stroke="currentColor"
						stroke-width="1.5"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z"
						></path>
					</svg>
				</PlanFuture>
				<PlanFuture
					title="Back-end"
					description="Conceptos y lenguajes que son de gran utilidad al momento de desarrollar."
					subtitle="Frameworks & Servicios"
					technologies={[
						"Nestjs",
						"Nextjs",
						"Django",
						"Spring",
						"PostgreSQL",
						"Redis",
						"Firebase",
						"Azure",
					]}
				>
					<svg
						slot="icon"
						class="w-10 m-3"
						fill="none"
						stroke="currentColor"
						stroke-width="1.5"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M21.75 17.25v-.228a4.5 4.5 0 00-.12-1.03l-2.268-9.64a3.375 3.375 0 00-3.285-2.602H7.923a3.375 3.375 0 00-3.285 2.602l-2.268 9.64a4.5 4.5 0 00-.12 1.03v.228m19.5 0a3 3 0 01-3 3H5.25a3 3 0 01-3-3m19.5 0a3 3 0 00-3-3H5.25a3 3 0 00-3 3m16.5 0h.008v.008h-.008v-.008zm-3 0h.008v.008h-.008v-.008z"
						></path>
					</svg>
				</PlanFuture>

				<PlanFuture
					title="Interés"
					description="Variedad de cosas que me gustaría aprender por curiosidad y utilidad en general."
					subtitle="Conocimiento"
					technologies={[
						"Game devolpment",
						"Machine learning",
						"OpenGL",
						"QT en C++",
						"Algebra lineal in programming",
						"Data structures",
						"SOLID",
						"Manim",
					]}
				>
					<svg
						slot="icon"
						class="w-10 m-3"
						fill="none"
						stroke="currentColor"
						stroke-width="1.5"
						viewBox="0 0 24 24"
						xmlns="http://www.w3.org/2000/svg"
						aria-hidden="true"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M12 18v-5.25m0 0a6.01 6.01 0 001.5-.189m-1.5.189a6.01 6.01 0 01-1.5-.189m3.75 7.478a12.06 12.06 0 01-4.5 0m3.75 2.383a14.406 14.406 0 01-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 10-7.517 0c.85.493 1.509 1.333 1.509 2.316V18"
						></path>
					</svg>
				</PlanFuture>
			</div>
		</section>
	</main>
</Layout>
<script>
	const skillsBtns = document.querySelectorAll(
		"[data-skill]"
	) as NodeListOf<HTMLButtonElement>
	const target = document.querySelector("[data-target]")
	const profileContent = document.querySelector("#profile-content")

	target
		.querySelector("[data-target-close]")
		.addEventListener("click", () => {
			profileContent.classList.remove("max-lg:hidden")
			target.classList.add("hidden")
		})

	skillsBtns.forEach((btn) => {
		btn.addEventListener("click", () => {
			profileContent.classList.add("max-lg:hidden")
			const content = btn
				.querySelector("[data-content]")
				.textContent.split(",")
			const wrapper = target.querySelector("[data-target-content]")
			wrapper.lastChild.remove()
			const newUl = document.createElement("ul")
			newUl.classList.add("skills-list")
			wrapper.appendChild(newUl)
			content.forEach((c) => {
				const li = document.createElement("li")
				li.textContent = c

				newUl.appendChild(li)
				
			})

			target.classList.remove("hidden")
		})
	})
</script>
