---
import RightArrow from "./RightArrow.astro"

interface Props {
	skills: {
		name: string
		target: string[]
	}[]
}

const { skills } = Astro.props
---

<div
	id="#skills"
	class="min-[500px]:-ml-8 bg-black ring-1 ring-cyan-700/10 self-center p-6 rounded-sm text-white font-medium relative after:absolute after:bg-cyan-300/70 after:rounded-sm after:inset-0 after:translate-x-3 after:translate-y-3 after:-z-10 after:shadow-2xl after:shadow-cyan-100"
>
	<ul class="flex flex-col gap-2">
		{
			skills.map((skill) => (
				<li
					data-is-open="false"
					data-skill={skill.name}
					class="flex transition-transform hover:translate-x-1 cursor-pointer"
				>
					{skill.name}
					<RightArrow className="ml-2 w-5" />
					<span data-content class="hidden">
						{skill.target.toString()}
					</span>
				</li>
			))
		}
	</ul>
</div>
<div class="max-[500px]:mt-10 hidden" data-target>
	<div class="flex flex-col mx-auto max-[500px]:justify-center text-white bg-black rounded-sm shadow-lg min-[500px]:ml-16 relative after:absolute after:inset-0 after:bg-red-500 after:-z-10 after:-translate-x-3 after:-translate-y-3 a before:absolute before:inset-0 before:bg-cyan-300/70 before:-z-10 before:translate-x-3 before:translate-y-3" data-target-content>
		<button data-target-close class="self-end focus:outline-none p-2">
			<svg
				class="block w-5"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
				aria-hidden="true"
			>
				<path
					clip-rule="evenodd"
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
				></path>
			</svg>
		</button>
	</div>
</div>
