---
interface Props {
    name: string;
    link: string;
}

const { name, link } = Astro.props
---

<li
	class="transition-all hover:-translate-y-1 hover:text-primary relative after:absolute after:rounded after:w-0 hover:after:w-full after:left-1/2 after:right-1/2 after:-translate-x-1/2 after:duration-500 after:transition-all after:-bottom-1 after:h-1 after:bg-primary text-black-100"
>
	<a href={link}>{name}</a>
</li>
